# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Coverage directory used by tools like istanbul
coverage


# Optional npm cache directory
.npm

# YARN integrity file
.yarn-integrity

# dotenv environment variable files
.env
.env.test
.env.production

# Parcel cache
.cache

# Next.js build output
.next

# Nuxt.js build / generated output
.nuxt
dist



# VS Code directory and settings
.vscode/
.vscode/*


# npm-debug log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Local env files
.env.local
.env.*.local

